.jumbotron {
  margin-bottom: 0px;
  background-color: #88bdbc;
}

.date {
  color: #6e6658;
  font-size: small;
}

.details {
  background-color: rgb(240, 174, 152, 40%);
  border: medium solid black;
  margin-top: 6px;
}

.video {
  width: 100%;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.bold {
  font-weight: bold;
}

.checked {
  color: orange;
}

.side {
  margin-top: 20px;
}

img {
  width: 100%;
  height: auto;
}

.interests {
  height: 70%;
}

/*Class used to display images in boxes with description in the personal information page.*/
.card {
  width: 18rem;
  text-align: justify;
  height: auto;
}

a {
  color: #6e6658;
  text-decoration: underline;
}

a:hover {
  color: rgb(240, 174, 152, 100%);
}

.apps {
  width: 10rem;
  height: auto;
  object-fit: contain;
}

.proj {
  width: auto;
  height: 10rem;
  object-fit: contain;
}

.details img {
  margin-bottom: 5px;
}

.big {
  font-size: small;
}

h3 {
  font-size: 110%;
  font-weight: bold;
}

h4 {
  font-size: 100%;
  font-weight: bold;
}

img.details {
  width: ;
}
